/* Box Model Hack */
* {
     -moz-box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: 62.5%;
    color: black;
}

body {
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: 500;
}
h1 {
    font-size: 4rem;
    color: mediumblue;
}
h2 {
    font-size: 2rem;
    color: black;
}
h4 {
    font-size: 1rem;
    color:black;
}
p {
    font-size: 2rem;
}
a {
    font-size: 2rem;
    text-decoration: none;
}
a, a:visited, a:active {
    color: mediumblue;
}
a.select {
    color: darkgrey;
}
a:hover {
    color: darkgrey;
}
li {
    list-style: none;
    font-size: 2rem;
}

/******************************************
/* Header
/*******************************************/
header {
    background: linear-gradient(to bottom, #7f8cf8, white);
    display: inline-block;
    width: 100%;
}

header > .topheader > * {
    display: block;
    float: left;
}
header a:first-of-type {
    width: 10%;
}
header div {
    width: 30%;
}
header h1 {
    margin: 0;
    padding-top: 1%;
    margin-left: 3%;
}
header h4 {
    margin: 0;
    padding-top: 1%;
    padding-left: 5%;
}
.headerImage {
    display: inline-block;
	width: 70%;
    padding-left: 20%;
}
.navlist {
    display: inline-block;
    width: 55%;
    float: right;
    text-align: right;
    padding-top: 2%;
}
.navlist  > * {
    display:inline;
    padding: 0 2%;
}
.navlist a {
}


/******************************************
/* Main
/*******************************************/
.welcomeSite {
    clear: both;
    text-align: center;
    margin: 0 30%;
}
.welcomeSite span {
    color: mediumblue;
    font-size: 2rem;
}
.welcomeSite span:hover {
    color: darkgrey;
}
.welcomeSite > * {
    margin: 10% 0;
    line-height: 3rem;
}
.welcomeSite h1 {
    padding-top: 5%;
    color: black;
}


/******************************************
/* Footer
/*******************************************/
footer{
    display:block;
    position:absolute;
    bottom: 0.5%;
    right: -1%;
    width:100%;
    margin: 1%;
}
footer > * {
    display: inline;
    padding: 0 1%;
}
footer i {
    font-size: 2rem;
    color: mediumblue;
}

.normalEnd {
    clear:both;
    position: static;
    display: block;
    padding-top: 50px;
}


/******************************************
/* Article
/*******************************************/
article {
    margin: 1% 25%;
}


article * {
    text-align: center;
    /*display: block;*/
    padding: 1%;
}
article p {
    border-bottom: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    line-height: 4rem;
    box-shadow: 10px 10px 15px lightblue;
    padding: 2%;

}
article span {
    display:inline;
    font-size: 2.5rem;
    border: 2px solid mediumblue;
    border-radius: 60%;
    padding: 0 1%;
    margin: 0 1.5%;
    color: mediumblue;
    font-weight: bold;
    box-shadow: 5px 5px 10px lightblue;
}
.greater10 {
    padding: 0 0.5%;
}




/******************************************
/* Backgrounds
/*******************************************/
body.index {
    background-image: url("../images/technikhilfe-background.jpg");
    background-size: auto;
}
body.technikhilfe {
    min-height: 1000px;
    background-image: url("../images/technikhilfe-background.jpg");
    background-size: auto;
}
body.finance {
    min-height: 1000px;
    background-image: url("../images/finance-background.jpg");
    background-size: auto;
}
body.crypto {
    min-height: 1000px;
    background-image: url("../images/crypto-background.jpg");
    background-size: auto;
}
body.ueber-mich {
    min-height: 1000px;
    background-image: url("../images/ueber-mich-background.jpg");
    background-size: auto;
}
body.contact {
    min-height: 1000px;
    background-image: url("../images/contact-background.jpg");
    background-size: auto;
}
