/******************************************
/* Main
/*******************************************/
.mainContent {
    text-align: center;
    margin: 0 25%;
}
.mainContent > * {
    margin: 5% 0;
    line-height: 3rem;
}
.mainContent h1 {
    color: black;
}
.detailContent {
    clear: both;
    margin:0 22% 0 28%;
}
.detailContent > section {
    width: 45%;
    float: left;
    height: 200px;
}
.detailContent .sec1 {
    margin: 1%;
    background-image: url("../images/homepage/windows.jpg");
    background-position: center;
    max-width: 45%;
}
.detailContent .sec2 {
    margin: 1%;
    background-image: url("../images/homepage/software.jpg");
    background-position: center;
    max-width: 45%;
}
.detailContent .sec3 {
    margin: 1%;
    background-image: url("../images/homepage/mail.jpg");
    background-position: right;
    max-width: 45%;
}
.detailContent .sec4 {
    margin: 1%;
    background-image: url("../images/homepage/fvd.jpg");
    background-position: center;
    max-width: 45%;
}
.detailContent span {
    display: block;
    color: white;
    font-size: 2.5rem;
    padding: 5%;
}
.detailContent > section > a span {
    padding-top: 10%;
}

footer {
    clear:both;
    position: static;
    display: block;
    padding-top: 50px;
}

/******************************************
/* Backgrounds
/*******************************************/
body.index {
    background-image: url("../images/homepage/technikhilfe-background.jpg");
    background-size: auto;
}
body.technikhilfe {
    min-height: 1000px;
    background-image: url("../images/homepage/technikhilfe-background.jpg");
    background-size: auto;
}
body.finance {
    min-height: 1000px;
    background-image: url("../images/finance-background.jpg");
    background-size: auto;
}
body.crypto {
    min-height: 1000px;
    background-image: url("../images/crypto-background.jpg");
    background-size: auto;
}
body.ueber-mich {
    min-height: 1000px;
    background-image: url("../images/ueber-mich-background.jpg");
    background-size: auto;
}
body.contact {
    min-height: 1000px;
    background-image: url("../images/contact-background.jpg");
    background-size: auto;
}
