/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
/******************************************
/* LAYOUT
/*******************************************/
section, h2 {
  width: 200px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  border: 2px solid black;
  font-size: 2rem;
}
h2 {
  margin-top: 50px;
}






/******************************************
/* ADDITIONAL STYLES
/*******************************************/
