/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body * {
  text-align: center;
}

label {
  font-size: 2rem;
}
button {
  display: block;
  margin: 10px auto;
  font-size: 2rem;
  padding: 10px;
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
