<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<section class="section2">
			<div>
				<img src="https://i.ibb.co/fnV3FC1/meal2.png">
				<div>
					<span>$14.99</span>
					<img src="stars.png">
					<span>Contadina</span>
					<button class="bigScreen" type="submit">Discover Menu</button>
				</div>
			</div>
			<div>
				<img src="https://i.ibb.co/fnV3FC1/meal2.png">
			</div>
			<div>
				<img src="https://i.ibb.co/fnV3FC1/meal2.png">
			</div>
			<div>
				<img src="https://i.ibb.co/fnV3FC1/meal2.png">
			</div>
		</section>




		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
